name: backup
on:
  schedule:
    - cron: "0 10 * * 1" # Every Monday at 10 AM UTC
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Backup MySQL DB
      uses: valerianpereira/backup-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        type: db
        db_type: postgres
        db_user: ${{ secrets.POST_USER }}
        db_pass: ${{ secrets.POST_PASS }}
        db_port: 3306
        db_name: database-gh
